body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orangered;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.click-me{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.tope-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}